HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
代码质量规范/src/test1/Test1Demo.java
代码质量规范/src/test3/Test3Demo.java
代码质量规范/src/test2/Test2Demo.java
代码质量规范/src/test3/Calculator.java
代码质量规范/src/test2/IndexAndPrice.java
代码质量规范/src/test1/Securities.java
测试模型/src/main/java/test/RequestThread.java
out/production/代码质量规范/test3/Calculator.class
out/production/代码质量规范/test3/Demo.class
out/production/代码质量规范/test2/Test2Demo.class
out/production/代码质量规范/test2/IndexAndPrice.class
out/production/代码质量规范/test1/Test1Demo.class
out/production/代码质量规范/test1/Securities.class
out/production/代码质量规范/test3/Calculator$Operator.class
out/production/代码质量规范/test3/Calculator$Operand.class
out/production/代码质量规范/test3/Calculator$1.class
out/production/代码质量规范/META-INF/代码质量规范.kotlin_module
提取excel/src/main/java/Test.java
src/main/java/test.txt
提取excel/src/test/java/util/FileUtilTest.java
提取excel/src/test/java/util/StringsUtilCustomizeTest.java
